{% extends "form_generico.html" %}
{% load static %}
{% load widget_tweaks %}
{% block form %}
    {% csrf_token %}

    <!-- Empresa -->
    <div class="form-group mb-3">
        <label for="{{ form.empresa.id_for_label }}">Empresa:</label>
        <div class="input-group">
            {{ form.empresa|add_class:'form-control'|attr:'autocomplete:off' }}
        </div>
        {% if form.empresa.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.empresa.errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- id_cliente con modal -->
    <div class="form-group mb-3">
        <label for="{{ form.cliente.id_for_label }}">Cliente:</label>
        <div class="input-group">
            {{ form.cliente }}
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-cliente">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- id_empleado -->
    <div class="form-group mb-3">
        <label for="{{ form.empleado.id_for_label }}">Empleado:</label>
        <div class="input-group">
            {{ form.empleado }}
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-empleado">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- id detalles servcios -->
    <div class="form-group mb-3">
        <label for="{{ form.detalle_servicio.id_for_label }}">Detalles de servicios:</label>
        <div class="input-group">
            {{ form.detalle_servicio }}
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-detalle_servicio">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- metodo pago -->
    <div class="form-group mb-3">
        <label for="{{ form.metodo_pago.id_for_label }}">Método de pago:</label>
        <div class="input-group">
            {{ form.metodo_pago|add_class:'form-control' }}
        </div>
        {% if form.metodo_pago.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.metodo_pago.errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Modal detalle servicio  -->
    <div class="modal fade" id="modal-detalle_servicio" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mb-0">Crear Detalles de Servicios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"
                        style="background-color: #dc3545; color: white; border: none; 
                                border-radius: 50%; width: 35px; height: 35px;
                                font-size: 1.5rem; line-height: 1; 
                                display: flex; justify-content: center; align-items: center;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí se cargará el form por AJAX -->
            </div>
            </div>
        </div>
    </div>

    <!-- Modal empleado -->
    <div class="modal fade" id="modal-empleado" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mb-0">Crear Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"
                        style="background-color: #dc3545; color: white; border: none; 
                                border-radius: 50%; width: 35px; height: 35px;
                                font-size: 1.5rem; line-height: 1; 
                                display: flex; justify-content: center; align-items: center;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí se cargará el form por AJAX -->
            </div>
            </div>
        </div>
    </div>

    <!-- Modal cliente -->
    <div class="modal fade" id="modal-cliente" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mb-0">Crear Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"
                        style="background-color: #dc3545; color: white; border: none; 
                                border-radius: 50%; width: 35px; height: 35px;
                                font-size: 1.5rem; line-height: 1; 
                                display: flex; justify-content: center; align-items: center;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí se cargará el form por AJAX -->
            </div>
            </div>
        </div>
    </div>

    <!-- Script cliente -->
    <script>
        $("#modal-cliente").on("show.bs.modal", function(){
            var modal = $(this);
            $.ajax({
                url: "{% url 'apy:cliente_modal_crear' %}",
                success: function(data){
                    modal.find(".modal-body").html(data.html || data);
                }
            });
        });
    </script>

    <!-- Script empleado. -->
    <script>
        $("#modal-empleado").on("show.bs.modal", function(){
            var modal = $(this);
            $.ajax({
                url: "{% url 'apy:empleado_modal_crear' %}",
                success: function(data){
                    modal.find(".modal-body").html(data.html || data);
                }
            });
        });
    </script>

    <!-- Script detalle repuesto. -->
    <script>
        $("#modal-detalle_servicio").on("show.bs.modal", function(){
            var modal = $(this);
            $.ajax({
                url: "{% url 'apy:servicio_modal_crear' %}",
                success: function(data){
                    modal.find(".modal-body").html(data.html || data);
                }
            });
        });
    </script>

{% endblock %}

{% block Cancelar %}
<button type="submit " class="btn btn-primary btn-flat"><i class="fas fa-save"></i>
    Agregar
</button>
<a href="{% url 'apy:factura_lista' %}" class="btn btn-danger btn-flat float-right">
    <i class="fas fa-times"></i> Cancelar
</a>
{% endblock %}