{% extends "generic_listar.html" %}
{% block titulo %}
        <h1 class="text-center">Lista de Clientes</h1>
{% endblock titulo %}

{% block agregar %}
        <a href="{% url 'apy:cliente_crear' %}" class="btn btn-primary">Agregar Cliente</a>
{% endblock %}

{% block columnas %}

  <th>Id Cliente</th>
  <th>Nombre</th>
  <th>Telefono</th>
  <th>Correo</th>
  <th>Documento</th>
  <th>Id Operacion</th>
  <th>Fecha de operacion</th>
  <th>Monto</th>

  <th>Acciones</th>
{% endblock %}

{% block iterar %}
  {% for c in object_list %}
    <tr>
        <td>{{ c.id_cliente }}</td>
        <td>{{ c.nombre }}</td>
        <td>{{ c.telefono }}</td>
        <td>{{ c.correo }}</td>
        <td>{{ c.documento }}</td>
        <td>{{ c.id_operacion }}</td>
        <td>{{ c.fecha_operacion }}</td>
        <td>{{ c.monto }}</td>

        <td>
            <a href="{% url 'apy:cliente_editar' c.id_cliente %}" class="btn btn-info btn-xs"><i class="fas fa-edit"></i></a>
            <a href="{% url 'apy:cliente_eliminar' c.id_cliente %}" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
  {% endfor %}
{% endblock %}