# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Media y Static folders (manehados por volúmenes)
media/
staticfiles/
db_backups/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDEs
.vscode/
.idea/

# Logs
*.log

# Windows basura
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporales de editores
*.swp
*.swo
*.swn

# No ignorar entrypoint.sh (importante!)
!entrypoint.sh