# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Media and Static folders (handled by volumes but shouldn't be in context)
media/
staticfiles/
db_backups/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDEs
.vscode/
.idea/

# Logs
*.log
