# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
ENV/
env/
.env
.env.local
.env.development
.env.production

# Django / Media y Static (manehados por volúmenes)
media/
staticfiles/
db_backups/
*.sqlite3
*.sqlite3-journal

# Docker
Dockerfile*
docker-compose*
.dockerignore

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
*.swn

# Logs y temporales
*.log
*.tmp

# Windows basura
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# No ignorar scripts necesarios
!entrypoint.sh
!wait-for-it.sh    # si usas wait-for-it u otro script