# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
env/
venv/
ENV/
.idea
# Backups and Logs
*.sql
*.log
.env
db_backups/
token.json
staticfiles/