{% extends "form_generico.html"%}
{% load widget_tweaks%}
{% block form %}
    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Error al intentar guardar</h5>
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li>{{error}}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% for field in form.visible_fields %}
    <div class="form_group">
        <label for="{{field.id_for_label}}">{{field.label}}: </label>
        
        {% if field.name == 'fecha' %}
            <!-- Campo fecha con ícono de calendario -->
            <div class="input-group">
                {{field|add_class:'form-control'|attr:'autocomplete:off'}}
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        {% else %}
            <!-- Campos normales -->
            {{field|add_class:'form-control'|attr:'autocomplete:off'}}
        {% endif %}
    </div>
    {% endfor %}
    
{% endblock %}
