{% extends "generic_listar.html" %}

{% block titulo %}
        <h1 class="text-center">Lista de Proveedores</h1>
{% endblock titulo %}

{% block agregar %}
<a href="{{crear_url}}" class=" btn btn-primary btn btn-xs"><i class="fas fa-plus"></i>
          Agregar
</a>
{% endblock%}

{% block columnas %}
  <th>Id Proveedor</th>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Correo</th>
        
        <th>Acciones</th>

{% endblock %}

{% block iterar %}

      {% for p in object_list %}
      <tr>
        <td>{{ p.id_proveedor }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.telefono}}</td>
        <td>{{ p.correo}}</td>
        

          <td>
            <a href="{% url 'apy:proveedor_editar' p.id_proveedor %}" class="btn btn-info btn-xs"><i class="fas fa-edit"></i></a>
            <a href="{% url 'apy:proveedor_eliminar' p.id_proveedor %}" class="btn btn-danger btn-xs"><i
                class="fas fa-trash-alt"></i></a>
          </td>
      </tr>
      {% endfor %}
{% endblock %}
