{% extends "form_generico.html" %}
{% load widget_tweaks %}
{% block form %}
    {% csrf_token %}

    <!-- Id Empleado con modal -->
    <div class="form-group mb-3">
        <label for="{{ form.empleado.id_for_label }}">Id Empleado:</label>
        <div class="input-group">
            {{ form.empleado }}
            
        </div>
    </div>

    
    <!-- Monto -->
    <div class="form-group mb-3">
        <label for="{{ form.monto.id_for_label }}">Monto:</label>
        <div class="input-group">
            {{ form.monto|add_class:'form-control' }}
        </div>
        {% if form.monto.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.monto.errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Fecha -->
    <div class="form-group mb-3">
        <label for="{{ form.fecha_pago.id_for_label }}">Fecha Pago:</label>
        <div class="input-group">
            {{ form.fecha_pago|add_class:'form-control' }}
        </div>
        {% if form.fecha_pago.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.fecha_pago.errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    

    <!-- Modal Empleado -->
    <div class="modal fade" id="modal-id_empleado" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"> 
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mb-0">Crear Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"
                        style="background-color: #dc3545; color: white; border: none; 
                                border-radius: 50%; width: 35px; height: 35px;
                                font-size: 1.5rem; line-height: 1; 
                                display: flex; justify-content: center; align-items: center;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí se cargará el form por AJAX -->
            </div>
            </div>
        </div>
    </div>

    <!-- Script empleado. -->
    <script>
        $("#modal-id_empleado").on("show.bs.modal", function(){
            var modal = $(this);
            $.ajax({
                url: "{% url 'apy:empleado_modal_crear' %}",
                success: function(data){
                    modal.find(".modal-body").html(data.html || data);
                }
            });
            });
            $('#id_empleado').select2({
            theme: 'bootstrap-5',
        
        });
    </script>

{% endblock %}

{% block Cancelar %}
            <button type="submit " class="btn btn-primary btn-flat" title="Agregar nomina">
                <i class="fas fa-save"></i>
                    Agregar
                </button>

                <a href="{% url 'apy:nomina_lista' %}" class="btn btn-danger btn-flat float-right" title="Cancelar registro de nomina">
                    <i class="fas fa-times"></i> Cancelar
                </a>
{% endblock %}