{% extends "generic_listar.html" %}
{% load humanize %}

{% block titulo %}
        <i class="fa-solid fa-money-bill"></i>
        <h1 class="text-center">Lista de Gastos</h1>
{% endblock titulo %}

{% block agregar %}
<a href="{{crear_url}}" class=" btn btn-primary btn btn-xs"><i class="fas fa-plus"></i>
          Agregar
</a>
{% endblock %}

{% block columnas %}

        <th>Id del Monto</th>
        <th>Descripción</th>
        <th>Tipo Gastos</th>
        <th>Id Pago Servicios</th>
        <th>Monto</th>
        <th>Acciones</th>

{% endblock %}

{% block iterar %}

      {% for g in object_list %}
      <tr>
        <td>{{ g.id }}</td>
        <td>{{ g.descripcion}}</td>
        <td>{{ g.tipo_gastos}}</td>
        <td>{{ g.id_pagos_servicios}}</td>
        <td>{{ g.monto|intcomma }}</td>
      
        
        <form method="post">

          <td>
            <a href="{% url 'apy:gasto_editar' g.id %}" 
              class="btn btn-info btn-xs" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="Editar gasto">
              <i class="fas fa-edit"></i>
            </a>
            <a href="{% url 'apy:gasto_eliminar' g.id %}" 
              class="btn btn-danger btn-xs" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="Eliminar gasto">
              <i class="fas fa-trash-alt"></i>
           </a>
          </td>
      </tr>
      {% endfor %}

{% endblock %}