{% extends "generic_listar.html" %}
{% load humanize %}

{% block titulo %}
    <i class="fa-solid fa-money-bill "></i>
    <h1 class="text-center">Lista de Gastos</h1>
{% endblock titulo %}

{% block agregar %}

{% endblock %}

{% block columnas %}
    <th>Id gasto </th>
    <th>Descripción</th>
    <th>Tipo Gastos</th>
    
    <th>Monto</th>
    

{% endblock %}

{% block iterar %}
    {% for g in object_list %}
    <tr>
        <td>{{ g.id }}</td>
        <td>{{ g.descripcion }}</td>
        <td>{{ g.tipo_gastos }}</td>
        <td>{{ g.monto|intcomma }}</td>
        
        
           
            
        </td>
    </tr>

    {% endfor %}
{% endblock %}