{% extends "generic_listar.html"%}
{% block titulo %}
    <h1 class="text-center">Listado de Compras</h1>
{% endblock titulo %}

{% block agregar %}
    <a href="{% url 'apy:compra_crear' %}" class="btn btn-primary">Agregar Compra</a>
{% endblock %}

{% block columnas %}
  <th>Id Compra</th>
  <th>Id Proveedor</th>
  <th>Fecha de Compra</th>
  <th>Hora de Compra</th>

  <th>Acciones</th>
{% endblock %}

{% block iterar %}
  {% for c in object_list %}
    <tr>
        <td>{{ c.id_compra }}</td>
        <td>{{ c.id_proveedor }}</td>
        <td>{{ c.fecha_compra }}</td>
        <td>{{ c.hora_compra }}</td>

        <td>
            <a href="{% url 'apy:compra_editar' c.id_compra %}" class="btn btn-info btn-xs"><i class="fas fa-edit"></i></a>
            <a href="{% url 'apy:compra_eliminar' c.id_compra %}" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
  {% endfor %}
{% endblock %}