{% extends "base_login.html" %}
{% load static %}

{% block title %}Cambio Exitoso - Taller Internacional{% endblock %}

{% block contenido_login %}
<div class="card shadow-lg">
    <div class="card-body login-card-body text-center">
        <div class="login-logo">
            <a data-bs-theme="dark"><b>¡Contraseña Cambiada!</b></a>
        </div>
        <h4 class="text-primary mb-3">🎉 Restablecimiento Completo</h4>
        <p class="login-box-msg">
            Tu contraseña ha sido establecida correctamente.
        </p>
        <p class="login-box-msg">
            Ya puedes iniciar sesión con tu nueva contraseña.
        </p>

        <p class="mt-3 mb-1">
            <a href="{% url 'login:login' %}" class="btn btn-primary btn-block" title="Iniciar Sesión">
                Iniciar Sesión
            </a>
        </p>
    </div>
</div>
{% endblock contenido_login %}