
{% extends "generic_listar.html" %}

{% block titulo %}
        <i class="fa-solid fa-wrench"></i>
        <h1 class="text-center">Listar Herramientas</h1>
{% endblock titulo %}

{% block agregar %}
<a href="{{crear_url}}" class=" btn btn-primary btn btn-xs" title="Agregar herramienta"><i class="fas fa-plus"></i>
          Agregar
</a>
<a href="{% url 'apy:herramienta_inactivos' %}" class="btn btn-secondary"><i class="fas fa-list"></i> Herramientas  Inactivas</a>
{% endblock %}

{% block columnas %}

        <th>Nombre</th>
        <th>Color</th>
        <th>Tipo</th>
        <th>Id marca</th>
        <th>Acciones</th>

{% endblock %}

{% block iterar %}

      {% for h in object_list %}
      <tr>
        <td>{{h.nombre}}</td>
        <td>{{h.color}}</td>
        <td>{{h.tipo}}</td>
        <td>{{h.id_marca}}</td>

        <form method="post">

          <td>
            <a href="{% url 'apy:herramienta_editar' h.id %}" 
              class="btn btn-info btn-xs" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="Editar herramienta">
              <i class="fas fa-edit"></i>
            </a>
            <a href="{% url 'apy:herramienta_eliminar' h.id %}" 
              class="btn btn-danger btn-xs" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="Desactivar herramienta">
              <i class="fas fa-power-off"></i>
           </a>
          </td>
      </tr>
      {% endfor %}

{% endblock %}