<!DOCTYPE html> 
<html lang="es">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Internacional de Motores - Factura</title>
    <link rel="stylesheet" href="styleFA.css">
</head>
<body>
    <div class="head">

        <div class="logo"> <a href="#"></a>
            <img src="img/p2.jpeg" alt="img2">
        </div>

        <div class="navbar">
            <a href="INICIO 1.html">inicio</a>
            <div class="dropdown">
                <a href="NOSOTROS.html">Nosotros</a>
                <div class="submenu">
                    <a href="NOSOTROS.html#quienes">Historia</a>
                    <a href="NOSOTROS.html#uno">Propósito</a>
                    <a href="NOSOTROS.html#porque">¿Por qué nosotros?</a>
                </div>
            </div>
            <a href="Contacta.html">contacto</a>
            <a href="PRODUCTOS.html">productos</a>
            <a href="SERVICIOS.html">servicios</a>
            <a href="LOGIN.html">LOGIN</a>
            
        </div>
    </div>

    <header>
        <h1>FACTURA DE SERVICIO</h1>
    </header>

    <section class="factura">
        <h2>Detalles de la Factura</h2>
        <p><strong>Cliente:</strong> Juan Pérez</p>
        <p><strong>Fecha:</strong> 15 de Junio de 2024</p>
        <p><strong>Servicio Realizado:</strong> Reparación de Motor Diésel</p>
        <p><strong>Costo Total:</strong> $500.00</p>
    </section>

    <footer>
        <p>&copy; 2024 Taller Internacional de Motores. Todos los derechos reservados.</p>
    </footer>