<div class="modal fade" id="modal-id_marca" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mb-0">Crear Marca</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"
                        style="background-color: #dc3545; color: white; border: none; 
                                border-radius: 50%; width: 35px; height: 35px;
                                font-size: 1.5rem; line-height: 1; 
                                display: flex; justify-content: center; align-items: center;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-id_empleado_mantenimiento" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mb-0">Crear Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"
                        style="background-color: #dc3545; color: white; border: none; 
                               border-radius: 50%; width: 35px; height: 35px;
                               font-size: 1.5rem; line-height: 1; 
                               display: flex; justify-content: center; align-items: center;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body"></div>

        </div>
    </div>
</div>


<div class="modal fade" id="modal-id_vehiculo" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mb-0">Crear Vehiculo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"
                        style="background-color: #dc3545; color: white; border: none; 
                                border-radius: 50%; width: 35px; height: 35px;
                                font-size: 1.5rem; line-height: 1; 
                                display: flex; justify-content: center; align-items: center;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-id_tipo_mantenimiento" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mb-0">Crear Tipo Mantenimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"
                        style="background-color: #dc3545; color: white; border: none; 
                                border-radius: 50%; width: 35px; height: 35px;
                                font-size: 1.5rem; line-height: 1; 
                                display: flex; justify-content: center; align-items: center;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-id_cliente" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">

        <div class="modal-content">

            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title mb-0">Crear Cliente</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"
                        style="background-color: #dc3545; color: white; border: none;
                                border-radius: 50%; width: 35px; height: 35px;
                                font-size: 1.5rem; line-height: 1;
                                display: flex; justify-content: center; align-items: center;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        <div class="modal-body"></div>
    </div>
</div>
</div>