{% extends "generic_listar.html" %}
{% load humanize %}

{% block titulo %}
        <i class="fa-solid fa-hammer"></i>
        <h1 class="text-center">Listar Repuestos</h1>
{% endblock titulo %}

{% block agregar %}
<a href="{{crear_url}}" class=" btn btn-primary btn btn-xs" title="Agregar repuesto"><i class="fas fa-plus"></i>
          Agregar
</a>
{% endblock %}

{% block columnas %}

        <th>Id Marca</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Fabricante</th>
        <th>Stock</th>
        <th>Ubicación</th>
        <th>Precio</th>
        <th>Acciones</th>

{% endblock %}

{% block iterar %}

      {% for r in object_list %}
      <tr>
        <td>{{r.id_marca}}</td>
        <td>{{r.nombre}}</td>
        <td>{{r.categoria}}</td>
        <td>{{r.fabricante}}</td>
        <td>{{r.stock}}</td>
        <td>{{r.ubicacion}}</td>
        <td>{{r.precio|intcomma }}</td>

        <form method="post">

          <td>
                <a href="{% url 'apy:repuesto_editar' r.id %}" 
              class="btn btn-info btn-xs" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="Editar repuesto">
              <i class="fas fa-edit"></i>
            </a>
            <a href="{% url 'apy:repuesto_eliminar' r.id %}" 
              class="btn btn-danger btn-xs" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="Eliminar repuesto">
              <i class="fas fa-trash-alt"></i>
           </a>
          </td>
      </tr>
      {% endfor %}

<!-- Mensajes con SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  {% if messages %}
    {% for message in messages %}
      Swal.fire({
        icon: '{% if "success" in message.tags %}success{% elif "error" in message.tags %}error{% else %}info{% endif %}',
        title: '{{ message|escapejs }}',
        timer: 2500,
        showConfirmButton: false
      });
    {% endfor %}
  {% endif %}
</script>

{% endblock %}