{% extends "generic_listar.html" %}
{% load humanize %}
{% block titulo %}
    <h1 class="text-center">Lista de Clientes</h1>
{% endblock titulo %}

{% block agregar %}
    <a href="{% url 'apy:cliente_crear' %}" class="btn btn-primary">Agregar Cliente</a>
    <a href="{% url 'apy:cliente_inactivos' %}" class="btn btn-secondary">Clientes Inactivos</a>
{% endblock %}

{% block columnas %}
  <th>Id</th>
  <th>Nombre</th>
  <th>Telefono</th>
  <th>Correo</th>
  <th>Documento</th>
  <th>Acciones</th>
{% endblock %}

{% block iterar %}
  {% for c in object_list %}
    <tr>
        <td>{{ c.id }}</td> 
        <td>{{ c.nombre }}</td>
        <td>{{ c.telefono }}</td>
        <td>{{ c.correo }}</td>
        <td>{{ c.identificacion }}</td>  

        <td>
            
            <a href="{% url 'apy:cliente_editar' c.id %}" class="btn btn-info btn-xs">
                <i class="fas fa-edit"></i>
            </a>
            <a href="{% url 'apy:cliente_eliminar' c.id %}" class="btn btn-danger btn-xs">
                <i class="fas fa-power-off"></i>
            </a>
        </td>
    </tr>
  {% endfor %}

{% endblock %}