{% extends 'body_factura.html' %}
{% block content %}

<table class="table table-bordered">   
        <thead class="table-dark">
            <tr>
                <th>Id de la factura</th>
                <th>Nombre Cliente</th>
                <th>Identicación Cliente</th>
                <th>Correo Cliente</th>
                <th>Procedimientos realizados</th>
                <th>Fecha de salida Vehículo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tablaFacturas"></tbody>
    </table>

{% endblock %}