{% extends "form_generico.html" %}
{% load widget_tweaks %}
{% block form %}
    {% csrf_token %}

    {% for field in form.visible_fields %}
    <div class="form-group mb-3">
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}

        {% if field.errors %}
            <div class="invalid-feedback d-block">
                {% for error in field.errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}

{% block Cancelar %}
                <button type="submit " class="btn btn-primary btn-flat" title="Agregar empleado">
                    <i class="fas fa-save" ></i>
                    Agregar
                </button>
                <a href="{% url 'apy:empleado_lista' %}" class="btn btn-danger btn-flat float-right" title="Cancelar registro de empleado">
                    <i class="fas fa-times"></i> Cancelar
                </a>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    const btnGuardar = document.getElementById("btnGuardarEmpleado");

     // Manejar el envío del formulario

    form.addEventListener("submit", function (e) {
        e.preventDefault(); // no recarga el iframe

        const formData = new FormData(form);

        fetch(form.action, {
            method: "POST",
            body: formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest"
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Buscar el select en la página padre
                const select = window.parent.document.getElementById("id_id_empleado");

                // Crear nueva opción
                const option = new Option(data.nombre, data.id, true, true);

                // Agregar al select y seleccionarla
                select.add(option);
                select.value = data.id;

                // Cerrar modal
                const modal = window.parent.$("#modal-id_empleado");
                modal.modal("hide");
            } else {
                alert("Error al guardar el empleado.");
            }
        })
        .catch(error => console.error("Error:", error));
    });
});
</script>
{% endblock %}