{% extends "generic_listar.html" %}

{% block titulo %}
        <i class="fa-solid fa-user"></i>
        <h1 class="text-center">Lista de Empleados Inactivos</h1>
{% endblock titulo %}

{% block agregar %}
<a href="{{listar_url}}" class=" btn btn-primary btn btn-xs" title="lista empleados"><i class="fas fa-list"></i>
          lista de empleados
</a>
{% endblock %}

{% block columnas %}

        <th>Id del Empleado</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Identificación</th>
        <th>Correo</th>
        <th>Dirección</th>
        <th>Acciones</th>

{% endblock %}

{% block iterar %}

      {% for em in object_list %}
      <tr>
        <td>{{ em.id }}</td>
        <td>{{ em.nombre}}</td>
        <td>{{ em.telefono}}</td>
        <td>{{ em.identificacion}}</td>
        <td>{{ em.Correo}}</td>
        <td>{{ em.direccion}}</td>
        
        <form method="post">

          <td>
            <a href="{% url 'apy:empleado_activar' em.id %}" 
              class="btn btn-success btn-xs" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="Activar empleado">
              <i class="fas fa-power-off"></i>
           </a>
          </td>
      </tr>
      {% endfor %}

{% endblock %}