{% extends "generic_listar.html" %}

{% block titulo %}
        <h1 class="text-center">Lista de Empleados</h1>
{% endblock titulo %}

{% block agregar %}
<a href="{{crear_url}}" class=" btn btn-primary btn btn-xs"><i class="fas fa-plus"></i>
          Agregar
</a>
{% endblock %}

{% block columnas %}

        <th>Id del empleado</th>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Identificacion</th>
        <th>Correo</th>
        <th>Direccion</th>
        <th>Acciones</th>

{% endblock %}

{% block iterar %}

      {% for em in object_list %}
      <tr>
        <td>{{ em.id }}</td>
        <td>{{ em.nombre}}</td>
        <td>{{ em.telefono}}</td>
        <td>{{ em.identificacion}}</td>
        <td>{{ em.Correo}}</td>
        <td>{{ em.direccion}}</td>
        
        <form method="post">

          <td>
            <a href="{% url 'apy:empleado_editar' em.id %}" class="btn btn-info btn-xs"><i class="fas fa-edit"></i></a>
            <a href="{% url 'apy:empleado_eliminar' em.id %}" class="btn btn-danger btn-xs"><i
                class="fas fa-trash-alt"></i></a>
          </td>
      </tr>
      {% endfor %}

{% endblock %}