{% extends "generic_listar.html" %}

{% block titulo %}
        <i class="fa-solid fa-star"></i>
        <h1 class="text-center">Lista de Marcas</h1>
{% endblock titulo %}

{% block agregar %}
<a href="{{crear_url}}" class=" btn btn-primary btn btn-xs"><i class="fas fa-plus"></i>
          Agregar
</a>
{% endblock %}

{% block columnas %}

        <th>Id de la Marca</th>
        <th>Nombre</th>
        <th>Tipo </th>
        <th>Acciones</th>

{% endblock %}

{% block iterar %}

      {% for m in object_list %}
      <tr>
        <td>{{ m.id }}</td>
        <td>{{ m.nombre}}</td>
        <td>{{ m.tipo}}</td>
        
        
        <form method="post">

          <td>
                <a href="{% url 'apy:marca_editar' m.id %}" 
              class="btn btn-info btn-xs" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="Editar marca">
              <i class="fas fa-edit"></i>
            </a>
            <a href="{% url 'apy:marca_eliminar' m.id %}" 
              class="btn btn-danger btn-xs" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="Eliminar marca">
              <i class="fas fa-trash-alt"></i>
           </a>
          </td>
      </tr>
      {% endfor %}

{% endblock %}