{% extends 'body.html' %}
{% load static %}
{% load static tz %} 

{% block content %}
<div class="row">
    <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="Foto de perfil">
            
            <span class="font-weight-bold mt-3">
                <p> {{ user.username }}</p>
            </span>
            <span class="">
                <p> {{ user.email }}</p>
            </span>
            <span class="badge bg-{{ user.is_superuser|yesno:'danger,success' }}">
                {{ user.is_superuser|yesno:'Gerente (Admin),Empleado' }}
            </span>
            
            <button class="btn btn-primary mt-3" type="button">Subir nueva imagen</button>
        </div>
    </div>
    
    <div class="col-md-5 border-end">
        <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Ajustes de Perfil</h4>
            </div>
            
            <div class="row mt-2">
                <div class="col-12">
                    <div class="card mb-3 bg-light text-dark">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6"><h6>Cuenta Creada:</h6></div>
                                <div class="col-md-6 text-end"><h6>{{ user.date_joined|date:"d/m/Y" }}</h6></div>
                                
                                <div class="col-md-6"><h6>Último inicio de sesión:</h6></div>
                                <div class="col-md-6 text-end">
                                    <h6 class="">
                                        {{ user.last_login|default:"Nunca"|localtime|date:"d/m/Y H:i" }}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <form method="POST">
                {% csrf_token %} 
                
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="form-floating mb-4">
                            {{ form.first_name }} 
                            <label for="{{ form.first_name.id_for_label }}">Primer Nombre</label>
                            {% if form.first_name.errors %}<small class="text-danger">{{ form.first_name.errors }}</small>{% endif %}
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-floating mb-4">
                            {{ form.last_name }} 
                            <label for="{{ form.last_name.id_for_label }}">Primer Apellido</label>
                            {% if form.last_name.errors %}<small class="text-danger">{{ form.last_name.errors }}</small>{% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="form-floating mb-4">
                            {{ form.email }} 
                            <label for="{{ form.email.id_for_label }}">Email</label>
                            {% if form.email.errors %}<small class="text-danger">{{ form.email.errors }}</small>{% endif %}
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-floating mb-4">
                            {{ form.username }} 
                            <label for="{{ form.username.id_for_label }}">Nombre de Usario</label>
                            {% if form.username.errors %}<small class="text-danger">{{ form.username.errors }}</small>{% endif %}
                        </div>
                    </div> 
                    
                </div>
                
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Guardar Cambios
                    </button>
                </div>
            </form>
            </div>
    </div>
    
    <div class="col-md-4">
        <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Cambiar Contraseña</h4>
            </div>
            
            <form method="POST" action="{% url 'password_change' %}"> 
                {% csrf_token %}
                
                <div class="col-md-12">
                    <div class="form-floating password-field mb-4">
                        {{ password_form.old_password }}
                        <label for="{{ password_form.old_password.id_for_label }}">Contraseña Antigua</label>
                        {% if password_form.old_password.errors %}<small class="text-danger">{{ password_form.old_password.errors }}</small>{% endif %}
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-floating password-field mb-4">
                        {{ password_form.new_password1 }}
                        <label for="{{ password_form.new_password1.id_for_label }}">Nueva Contraseña</label>
                        {% if password_form.new_password1.errors %}<small class="text-danger">{{ password_form.new_password1.errors }}</small>{% endif %}
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-floating password-field mb-4">
                        {{ password_form.new_password2 }}
                        <label for="{{ password_form.new_password2.id_for_label }}">Confirmar Nueva Contraseña</label>
                        {% if password_form.new_password2.errors %}<small class="text-danger">{{ password_form.new_password2.errors }}</small>{% endif %}
                    </div>
                </div>
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-lock"></i> Cambiar Contraseña
                    </button>
                </div>
            </form>
            </div>
    </div>
</div>

<script>
    // Script para añadir la clase form-control a los campos de Django
    document.addEventListener('DOMContentLoaded', function() {
        var formFields = document.querySelectorAll('.form-floating input, .form-floating select');
        formFields.forEach(function(field) {
            // Asegura que solo se añada si no tiene la clase
            if (!field.classList.contains('form-control')) {
                field.classList.add('form-control');
            }
        });
    });
</script>

<!-- JS de Sienna Accessibility -->
<script src="{% static 'js/sienna-accessibility/sienna.js' %}"></script>
<script src="{% static 'js/sienna-accessibility/custom.js' %}"></script>
{% endblock %}