{% extends "form_generico.html"%}
{% load widget_tweaks%}
{% block form %}
    {% csrf_token %}
    

   

    

    <!-- Fecha -->
    <div class="form-group mb-3">
        <label for="{{ form.fecha_salida.id_for_label }}">Fecha:</label>
        <div class="input-group">
            {{ form.fecha_salida|add_class:'form-control' }}
        </div>
        {% if form.fecha_salida.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.fecha_salida.errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Hora -->
    <div class="form-group mb-3">
        <label for="{{ form.hora_salida.id_for_label }}">Hora:</label>
        <div class="input-group">
            {{ form.hora_salida|add_class:'form-control' }}
        </div>
        {% if form.hora_salida.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.hora_salida.errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>


    
    
{% endblock %}

{% block Cancelar %}
                <button type="submit " class="btn btn-primary btn-flat" title="Agregar salida de vehículo">
                    <i class="fas fa-save"></i>
                    Agregar
                </button>
                <a href="{% url 'apy:salida_vehiculo_lista' %}" class="btn btn-danger btn-flat float-right" title="Cancelar registro de salida de vehículo">
                    <i class="fas fa-times"></i> Cancelar
                </a>
{% endblock %}
