{% extends "generic_listar.html"%}
{% block titulo %}
    <i class="fa-solid fa-truck-fast"></i>
    <h1 class="text-center">Lista Salida de Vehículos</h1>
{% endblock %}
{% block agregar %}
    <a href="{% url 'apy:salida_vehiculo_crear' %}" class="btn btn-primary" title="Agregar salida de vehículo">Agregar Salida de Vehículo</a>
{% endblock %}

{% block columnas %}
  <th>Id Salida</th>
  <th>Id Cliente</th>
  <th>Id Vehículo</th>
  <th>Fecha de Salida</th>
  <th>Hora de Salida</th>
  <th>Diagnóstico</th>

  <th>Acciones</th>
{% endblock %}

{% block iterar %}
  {% for s in object_list %}
    <tr>
        <td>{{ s.id_salida }}</td>
        <td>{{ s.id_cliente.id_cliente }}</td>
        <td>{{ s.id_vehiculo.placa }}</td>
        <td>{{ s.fecha_salida }}</td>
        <td>{{ s.hora_salida }}</td>
        <td>{{ s.diagnostico }}</td>
        <td>
          <a href="{% url 'apy:salida_vehiculo_editar' s.id_salida %}" 
              class="btn btn-info btn-xs" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="Editar salida de vehículo">
              <i class="fas fa-edit"></i>
            </a>
            <a href="{% url 'apy:salida_vehiculo_eliminar' s.id_salida %}" 
              class="btn btn-danger btn-xs" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="Eliminar salida de vehículo">
              <i class="fas fa-trash-alt"></i>
           </a>
        </td>
    </tr>
  {% endfor %}
  
  <!-- Mensajes con SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  {% if messages %}
    {% for message in messages %}
      Swal.fire({
        icon: '{% if "success" in message.tags %}success{% elif "error" in message.tags %}error{% else %}info{% endif %}',
        title: '{{ message|escapejs }}',
        timer: 2500,
        showConfirmButton: false
      });
    {% endfor %}
  {% endif %}
</script>
{% endblock %}
