
{% extends "generic_listar.html" %}
{% load humanize %}
{% block titulo %}
        <h1 class="text-center">Listar Insumos</h1>
{% endblock titulo %}

{% block agregar %}
<a href="{{crear_url}}" class=" btn btn-primary btn btn-xs"><i class="fas fa-plus"></i>
          Agregar
</a>
{% endblock %}

{% block columnas %}

        <th>Id Marca</th>
        <th>Costo</th>
        <th>Stock</th>
        <th>Cantidad</th>
        <th>Acciones</th>

{% endblock %}

{% block iterar %}

      {% for i in object_list %}
      <tr>
        <td>{{i.id_marca}}</td>
        <td>{{i.costo|intcomma }}</td>
        <td>{{i.stock}}</td>
        <td>{{ i.cantidad }}</td>
        <form method="post">

          <td>
            <a href="{% url 'apy:insumo_editar' i.id %}" class="btn btn-info btn-xs"><i class="fas fa-edit"></i></a>
            <a href="{% url 'apy:insumo_eliminar' i.id %}" class="btn btn-danger btn-xs"><i
                class="fas fa-trash-alt"></i></a>
          </td>
      </tr>
      {% endfor %}

{% endblock %}