    <div class="sidebar" id="sidebar">
        <h2>T.I.M</h2>
        <h5>taller internacional de motores</h5>
        <ul>
            <li onclick="toggleSubmenu(this)"> <i class="fas fa-car"></i> Gestión de Vehículos

                <div class="submenu">
                    <ul>
                        <li><a href="FINAL 2/ENTRADAVT.html">Entrada de vehículo</a></li>
                        <li><a href="Karol Forms/SalidaRe.html">Salida de vehículos</a></li>
                        <li><a href="Karol Forms/VehRe.html">Vehículos</a></li>
                        <li><a href="ERICK FINAL/MARCAST.html">Marca</a></li>
                    </ul>
                </div>
            </li>
            <li onclick="toggleSubmenu(this)"><i class="fas fa-tools"></i> Mantenimiento y Repuestos

                <div class="submenu">
                    <ul>
                        <li><a href="FINAL 2/GESMAT.html">Gestión de mantenimiento automotriz</a></li>
                        <li><a href="FINAL STEVEN/REPUESTOST.html">Gestión de repuestos</a></li>
                        <li><a href="Karol Forms/TipomRe.html">Tipo de mantenimiento</a></li>
                        <li><a href="FINAL STEVEN/HERRAMIENTAST.html">Herramientas</a></li>
                        <li><a href="FINAL STEVEN/INSUMOST.html">Gestión de insumos</a></li>
                    </ul>
                </div>
            </li>
            <li onclick="toggleSubmenu(this)"><i class="fas fa-coins"></i> Administración y Finanzas

                <div class="submenu">
                    <ul>
                        <li><a href="formulariosyury/Administrador/administrador.html">Administrador</a></li>
                        <li><a href="FINAL 2/GASTOST.html">Gastos</a></li>
                        <li><a href="Karol Forms/FacRe.html">Facturas</a></li>
                        <li><a href="formulariosyury/pagos/pago.html">Pagos</a></li>
                        <li><a href="formulariosyury/caja/registoingreso.html">Caja</a></li>
                        <li><a href="FINAL 2/NOMINAT.html">Nómina</a></li>
                        <li><a href="FINAL 2/PSPT.html">Pago de servicios públicos</a></li>
                    </ul>
                </div>
            </li>
            <li onclick="toggleSubmenu(this)"><i class="fas fa-users"></i> Gestión de Clientes y Proveedores

                <div class="submenu">
                    <ul>
                        <li><a href="FINAL STEVEN/CLIENTEST.html">Clientes</a></li>
                        <li><a href="formulariosyury/proveedor/proveedor.html">Proveedores</a></li>
                        <li><a href="FINAL STEVEN/COMPRAST.html">Compras</a></li>
                        <li><a href="Karol Forms/ProdRe.html">Producto</a></li>
                    </ul>
                </div>
            </li>
            <li onclick="toggleSubmenu(this)"><i class="fas fa-building"></i> Recursos Humanos
                
                
                <div class="submenu">
                    <ul>
                        <li><a href="formulariosyury/empleado/empleado.html">Empleado</a></li>
                    </ul>
                </div>
            </li>
            <li onclick="toggleSubmenu(this)"><i class="fas fa-chart-bar"></i> Reportes y Análisis
                
                <div class="submenu">
                    <ul>
                        <li><a href="Karol Forms/InfRe.html">Informes</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <button class="close-btn" onclick="closeSidebar()">✖ Cerrar menú</button>
    </div>

    