<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Contacto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styleCont.css">
</head>
<body>

    <div class="head">

        <div class="logo"> <a href="#"></a>
            <img src="img/p2.jpeg" alt="img2">
        </div>

        <div class="navbar">
            <a href="INICIO 1.html">inicio</a>
            <div class="dropdown">
                <a href="NOSOTROS.html">Nosotros</a>
                <div class="submenu">
                    <a href="NOSOTROS.html#quienes">Historia</a>
                    <a href="NOSOTROS.html#uno">Propósito</a>
                    <a href="NOSOTROS.html#porque">¿Por qué nosotros?</a>
                </div>
            </div>
            <a href="Contacta.html">contacto</a>
            <a href="PRODUCTOS.html">productos</a>
            <a href="SERVICIOS.html">servicios</a>
            <a href="LOGIN.html">LOGIN</a>
            
        </div>
    </div>

    <header class="contenido-header">
        <img src="img/header.png" alt="Img" id="logoo">
    </header>

    <section class="informacion">
        <section class="infor">
            <i class="fas fa-phone"></i>
            <h1>Contactános</h1>
            <p>Movil: (+57) 3118359251 </p>
            <p>Whatsapp: (+57) 3133342841 </p>
        </section>
    
        <section class="infor">
            <i class="fas fa-map-marker-alt"></i> 
            <h1>Ubicación</h1>
            <p>Calle 9 #32-37. Barrio la Isla
                Sogamoso-Boyacá
            </p>
        </section>
    
        <section class="infor">
            <i class="fas fa-calendar-alt"></i>
            <h1>Horario</h1>
            <p>Lunes: 8:00am - 7:00pm</p>
            <p>Martes: 8:00am - 7:00pm</p>
            <p>Miercoles: 8:00am - 7:00pm</p>
            <p>Jueves: 8:00am - 7:00pm</p>
            <p>Viernes: 8:00am - 7:00pm</p>
            <p>Sabado: 8:00am - 7:00pm</p>
            <p>Domingo: Cerrado</p>
    
        </section>
    </section>

    <section class="section-formulario">

        <section class="izq">
            <form class="formulario">
                <div class="nav">
                    <div class="info">
                        <label for="nombre"></label>
                        <input placeholder="Ingrese su nombre" type="text">
                    </div>
                    <div class="info">
                        <label for="correo"></label>
                        <input placeholder="Ingrese su correo" type="email">
                    </div>
                    <div class="info">
                        <label for="numero"></label>
                        <input placeholder="Ingrese su numero de telefono" type="tel">
                    </div>
                </div>
                </form>

        </section>
        
        <section>
            <form class="der">
            <div class="inf">
                <label for="mensaje"></label>
                <input placeholder="Mensaje" type="text">
            </div>

            <button type="submit" class="boton">Enviar</button>
            </form>
        </section>
    </section>

    <figure class="map">
        <img src="img/mapa.png" height="220px" width="60%" alt="mapa">
    </figure>

</body>
</html>