    <footer>
        <div class="footer-container">
            <div class="contact-info">
                <p><i class="fas fa-map-marker-alt"></i> Dirección: Sogamoso-Boyacá, Calle 9 #32-37</p>
                <p><i class="fas fa-phone"></i> Teléfono: +57 311 835 9251</p>
            </div>
    
            <p>© 2007 Taller Internacional De Motores. Todos los derechos reservados.</p>
    
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>