{% extends 'body.html' %}
{% load static %}
{% block content %}

<div class="main-content" style="padding: 20px; padding-top: 70px; padding-bottom: 80px;">
<div class="col-md-12">
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-exclamation-triangle"></i>
        {% block titulo %}
        {% endblock titulo %}
      </h3>
    </div>
    <div class="card-body">
      <div class="card-footer">
        {% block agregar %}
        {% endblock %}
        
      </div>
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            {% block columnas %}

            {% endblock %}
          </tr>
        </thead>
    <tbody id="tablaFacturas">
      {% block iterar %}
      
      
      
      {% endblock %}

    </tbody>
      </table>
      <style>
  /* Estilo para el campo de búsqueda de DataTables */
  .dataTables_filter input {
    background-color: #ffffff !important; /* Fondo blanco */
    color: #000000 !important;            /* Texto negro */
    border: 1px solid #ccc !important;    /* Borde gris */
    border-radius: 5px !important;        /* Bordes redondeados opcional */
    padding: 5px 10px !important;         /* Espaciado interno */
  }
</style>
    </div>
  </div>
</div>
</div>
<!-- jQuery -->

<!-- rutas al archivo css de datatables -->
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/datatables.css' %}">
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}">
<!-- Bootstrap 4 -->
<script src="{% static 'lib/datatables-1.10.20/plugins/bootstrap-4-4.1.1/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables -->
<!-- AdminLTE App -->
<script src="{% static 'AdminLTE/dist/js/adminlte.js' %}"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>

{% if messages %}

  <script src=" {% static 'taller_tim/apy/static/lib/sweetalert2/sweeralert2@11.js' %}"></script>

  <script>
    {% for message in messages %}
      Swal.fire({
        icon: '{% if "success" in message.tags %}success{% elif "error" in message.tags %}error{% else %}info{% endif %}',
        title: '{{ message|escapejs }}',
        timer: 2500,
        showConfirmButton: false
      });
    {% endfor %}
  </script>
{% endif %}

<!-- Bloque para JS extra -->
{% block extra_js %}
{% endblock %}

{% endblock %}