{% load static %}
<div class="head">

        <div class="logo"> <a href="#"></a>
            <img src="{% static 'lenguajes/img/p2.png'%}" alt="img2">
        </div>

        <div class="navbar">
            <a href="INICIO 1.html">inicio</a>
            <div class="dropdown">
                <a href="NOSOTROS.html">Nosotros</a>
                <div class="submenu">
                    <a href="NOSOTROS.html#quienes">Historia</a>
                    <a href="NOSOTROS.html#uno">Propósito</a>
                    <a href="NOSOTROS.html#porque">¿Por qué nosotros?</a>
                </div>
            </div>
            <a href="Contacta.html">contacto</a>
            <a href="PRODUCTOS.html">productos</a>
            <a href="SERVICIOS.html">servicios</a>
            <a href="LOGIN.html">LOGIN</a>
            
        </div>
    </div>