<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Internacional de Motores</title>
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="ADMINISTRADOR/BASICOS/styles1.css">
</head>

<body>
    <div class="head">

        <div class="logo"> <a href="#"></a>
            <img src="img/p2.jpeg" alt="img2">
        </div>

        <div class="navbar">
            <a href="INICIO 1.html">inicio</a>
            <div class="dropdown">
                <a href="NOSOTROS.html">Nosotros</a>
                <div class="submenu">
                    <a href="NOSOTROS.html#quienes">Historia</a>
                    <a href="NOSOTROS.html#uno">Propósito</a>
                    <a href="NOSOTROS.html#porque">¿Por qué nosotros?</a>
                </div>
            </div>
            <a href="Contacta.html">contacto</a>
            <a href="PRODUCTOS.html">productos</a>
            <a href="SERVICIOS.html">servicios</a>
            <a href="LOGIN.html">LOGIN</a>
            
        </div>

    </div>

    <header>
        <h1>TALLER INTERNACIONAL DE MOTORES</h1>
    </header>

    <section class="quienes-somos">
        <h2>¿QUIÉNES SOMOS?</h2>
        <div class="inicio">
            <p>Somos Taller Internacional de Motores, con más de <b>18 años</b> de experiencia en la reparación de
                motores diésel.
                Utilizamos tecnología de vanguardia y repuestos originales para garantizar el máximo rendimiento de tu
                vehículo.</p>
            <img src="img/p1.jpeg" alt="Imagen del taller">
        </div>
    </section>

    <section class="reparaciones">
        <h2>REPARACIONES</h2>
        <ul>
            <li>Reparación de motores Diesel</li>
            <li>Servicio de scanner</li>
            <li>Electrónica de motores</li>
            <li>Mantenimiento y diagnósticos de inyectores</li>
            <li>Reparación de compresores de aire</li>
        </ul>
    </section>

    <section class="contacto">
        <h2>CONTACTO</h2>
        <p><b>TEL:</b> 3118359251 - 3133342814</p>
        <p><b>Email:</b> arturopatino@gmail.com</p>
        <p><b>Dirección:</b> Calle 9 #32-37</p>
    </section>


</body>

</html>