<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="prueba.css"> m 
</head>

<body>

    <div class="head">

        <div class="logo"> <a href="#"></a>
            <img src="img/p2.jpeg" alt="img2">
        </div>

        <div class="navbar">
            <a href="INICIO 1.html">inicio</a>
            <div class="dropdown">
                <a href="NOSOTROS.html">Nosotros</a>
                <div class="submenu">
                    <a href="NOSOTROS.html#quienes">Historia</a>
                    <a href="NOSOTROS.html#uno">Propósito</a>
                    <a href="NOSOTROS.html#porque">¿Por qué nosotros?</a>
                </div>
            </div>
            <a href="Contacta.html">contacto</a>
            <a href="PRODUCTOS.html">productos</a>
            <a href="SERVICIOS.html">servicios</a>
            <a href="LOGIN.html">LOGIN</a>
            
        </div>


    </div>

    <h1 class="titulo">Estas en Nosotros</h1>

    <div class="inicio">

        <div id="quienes" class="quienes">
            <h2 class="subtitulo">¿QUIENES SOMOS?</h2>
            <p>Somos **Taller Internacional de Motores**, una empresa con más de 18 años de experiencia en la reparación
                de motores diésel. Nos especializamos en brindar servicios personalizados y a domicilio, utilizando
                tecnología de vanguardia y repuestos originales. Nuestro objetivo es ofrecer soluciones prácticas y
                efectivas para maximizar el tiempo de nuestros clientes, realizando mantenimiento y reparaciones
                mientras ellos continúan con sus actividades diarias, desde la comodidad de su hogar u oficina.
            </p>
            <h2 class="subtitulo">EXPERIENCIA Y TRAYECTORIA</h2>
            <p>
                Contamos con un equipo que mezcla experiencia y juventud, integrado por profesionales con más de 35 años
                en el sector automotriz, además de nuevos talentos en constante formación. Esta combinación nos permite
                mantenernos en la vanguardia de la innovación tecnológica, ofreciendo servicios de alta calidad y
                brindando oportunidades para aprender al integrar teoría y práctica.
            </p>
        </div>

        <div class="imgenes">
            <table class="tabla">
                <tr>
                    <td><img src="img/CAMION 1.jpg" alt=""></td>
                </tr>
                <tr>
                    <td>
                        <table class="tabla2">
                            <tr>
                                <td><img src="img/MOTOR 1.jpg" alt=""></td>
                                <td><img src="img/camion 3.jpg" alt=""></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="bondades">
        <h1 class="subtitulo">BONDADES </h1>
        <p>- Servicios mecánicos automotrices a domicilio en tu casa u oficina. <br>
            - Uso de tecnología avanzada para diagnósticos y reparaciones. <br>
            - Plataforma digital para agendar servicios y dar seguimiento en tiempo real. <br>
            - Servicio al cliente personalizado, enfocado en resolver tus necesidades e inquietudes. <br>
            - Mantén el control: observa y aprende de los procesos realizados a tu vehículo. <br>
            - Comunidad virtual activa en redes sociales que comparte contenido educativo y consejos útiles. <br>
            - Trazabilidad y comunicación: actualizaciones constantes por correo electrónico. <br>
            - Manejo responsable de residuos bajo estándares ambientales. <br>
        </p>
    </div>

    <div class="banner">
        <img src="img/CAMION 1.jpg" alt="">
    </div>

    <div class="misiones">
        <div id="uno" class="uno">
            <h2 class="subtitulo">MISION</h2>
            <P>Maximizar el tiempo y la comodidad de nuestros clientes al ofrecer un servicio de reparación y
                mantenimiento automotriz confiable, profesional y sostenible, directamente a domicilio, apoyándonos en
                la tecnología para garantizar calidad y confianza en cada proceso.
            </P>
        </div>
        <div class="dos">
            <h2 class="subtitulo">VISION</h2>
            <P>Convertirnos en líderes del sector automotriz a nivel nacional bajo el modelo de servicios 100%
                virtuales. Aspiramos a ser reconocidos por nuestro compromiso con la innovación, la sostenibilidad y la
                atención al cliente, contribuyendo a transformar el mercado automotriz hacia una era más digital y
                personalizada.
            </P>
        </div>
        <div class="tres">
            <h2 class="subtitulo">VALORES</h2>
            <P>- Atención al cliente. <br>
                - Transparencia. <br>
                - Responsabilidad. <br>
                - Innovación. <br>
                - Honestidad. <br>
                - Comunicación. <br>
                - Rapidez. </P>
        </div>



    </div>

    <div class="proposito">
        <h1>PROPOSITO</h1>
        <P>Nuestro propósito es mejorar la calidad de vida de nuestros clientes y su relación con sus vehículos,
            proporcionando soluciones automotrices que ahorren tiempo y brinden mayor bienestar. Queremos que cada
            persona se sienta segura y cómoda en cada trayecto, y que aquellos apasionados por los autos puedan
            acercarse más al mundo de la mecánica a través de nuestro trabajo y contenidos educativos.
        </P>
    </div>

    <div id="porque" class="porque">
        <h1>POR QUE NOSOTROS?</h1>
        <P>En **Taller Internacional de Motores**, no solo resolvemos problemas automotrices, sino que creamos una
            experiencia única para nuestros clientes. A través de nuestras redes sociales y plataforma digital,
            fomentamos una comunidad apasionada y comprometida, donde compartimos historias de éxito, consejos prácticos
            y contenido educativo. Además, con nuestro enfoque personalizado y a domicilio, ofrecemos comodidad,
            confianza y una conexión directa con el proceso de reparación o mantenimiento de tu vehículo.
        </P>
    </div>

    <div class="contacto">
        <div class="logo"><img src="img/p2.jpeg" alt="logo"></div>
        <div class="contactanos">
            <h3>CONTACTANOS</h3>
            <p>- Teléfono: 3118359251 – 3133342814 <br>
                - Email: arturopatino@gmail.com <br>
                - Dirección: Calle 9 #32-37 <br>

                ---</p>
        </div>

    </div>

    <div class="copy">
        © 2025 "TALLER INTERNACIONAL DE MOTORES". Todos los derechos reservados.

    </div>
</body>

</html>