    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark"> <!--begin::Sidebar Brand-->
      <div class="sidebar-brand"> 
        <!--begin::Brand Link--> 
          <a href="../index.html" class="brand-link">
          <!--begin::Brand Image--> 
          <img src="/assets/img/AdminLTELogo.png" alt="AdminLTE Logo"
            class="brand-image opacity-75 shadow"> <!--end::Brand Image--> <!--begin::Brand Text--> <span
            class="brand-text fw-light">TIM</span> <!--end::Brand Text--> </a> <!--end::Brand Link--> </div>
      <!--end::Sidebar Brand--> 
      <!--begin::Sidebar Wrapper-->
      <div class="sidebar-wrapper">
        <nav class="mt-2"> <!--begin::Sidebar Menu-->
          <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="navigation"
            aria-label="Main navigation" data-accordion="false" id="navigation">
            <!--TITULO DE barra-->
            <li class="nav-header">MENU</li>
            <!--inicio opciones nivel 1 menu -->
              <!--ejemplo de dropdown en opciones-->
              <!--gestion vehiculos-->
            <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-car-front"></i>
                <p>
                  Gestion de Vehiculos
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item"> <a href="{% url 'apy:entrada_vehiculo_lista' %}" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Entrada de Vehiculo</p>
                  </a> </li>
                <li class="nav-item"> <a href="{% url 'apy:salida_vehiculo_lista' %}" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Salida de Vehiculo</p>
                  </a> </li>
                <li class="nav-item"> <a href="{% url 'apy:vehiculo_lista' %}" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Vehiculo</p>
                  </a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Marca</p>
                  </a> </li>
              </ul>
            </li>
            <!--mantenimiento y repuestos-->
            <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-wrench"></i>
                <p>
                  Mantenimiento y Repuestos
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Gestion mantenimiento</p>
                  </a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Gestion Repuestos</p>
                  </a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Tipo Mantenimiento</p>
                  </a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Herramientas</p>
                  </a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Gestion Insumos</p>
                  </a> </li>
              </ul>
            </li>
            <!--admin y finanzas-->
            <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-currency-dollar"></i>
                <p>
                  Administracion y Finanzas
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Administrador</p>
                  </a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Gastos</p>
                  </a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Facturas</p>
                  </a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Pagos</p>
                  </a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Caja</p>
                  </a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Nomina</p>
                  </a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Servicios Publicos</p>
                  </a> </li>
              </ul>
            </li>
            <!--cientes y provedores-->
            <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-person"></i>
                <p>
                  Gestion de Clientes y Proveedores
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Proveedores</p>
                  </a> </li>
                <li class="nav-item"> <a href="{% url 'apy:cliente_lista' %}" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Clientes</p>
                  </a> </li>
                <li class="nav-item"> <a href="{% url 'apy:compra_lista' %}" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Compras</p>
                  </a> </li>
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Productos</p>
                  </a> </li>
              </ul>
            </li>
            <!--recursos humanos-->
            <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-building"></i>
                <p>
                  Recursos Humanos
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Empleados</p>
                  </a> </li>
              </ul>
            </li>
            <!--analisis y reportes-->
            <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-bar-chart-line"></i>

                <p>
                  Analisis y Reportes
                  <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                    <p>Informes</p>
                  </a> </li>
              </ul>
            </li>
            <!--configuraciones-->
            <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-gear"></i>
                <p>Configuraciones</p>
              </a> </li>

          </ul> <!--end::Sidebar Menu-->
        </nav>
      </div> <!--end::Sidebar Wrapper-->
    </aside> 