{% load static %}
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <!--begin::Sidebar Brand-->
        <div class="sidebar-brand">
          <!--begin::Brand Link-->
          <a href="../index.html" class="brand-link">
            <!--begin::Brand Image-->
            <img src="{% static 'AdminLTE/dist/assets/img/AdminLTELogo.png' %}"
              alt="AdminLTE Logo"
              class="brand-image opacity-75 shadow"
            />
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <span class="brand-text fw-light">T.I.M</span>
            <!--end::Brand Text-->
          </a>
          <!--end::Brand Link-->
        </div>
        <!--end::Sidebar Brand-->
        <!--begin::Sidebar Wrapper-->
        <div class="sidebar-wrapper">
          <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul
              class="nav sidebar-menu flex-column"
              data-lte-toggle="treeview"
              role="navigation"
              aria-label="Main navigation"
              data-accordion="false"
              id="navigation"
            >
              <li class="nav-header">MENU</li>

              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-bar-chart-fill"></i>
                  <p>
                    Analisis y reportes
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:informes_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Informes </p>
                    </a>
                  </li> 
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-bar-chart-fill"></i>
                  <p>
                    Gestion de Vehiculo
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:entrada_vehiculo_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Entrada de Vehiculo </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:salida_vehiculo_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Salida de Vehiculo </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:vehiculo_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Vehiculo </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:marca_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Marca </p>
                    </a>
                  </li> 
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-bar-chart-fill"></i>
                  <p>
                    Gestion de Mantenimiento
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:mantenimiento_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Mantenimiento </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:repuesto_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Repuestos </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:tipo_mantenimiento_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Tipos de Mantenimientos </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:herramienta_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Herramientas </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:insumo_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Insumos </p>
                    </a>
                  </li> 
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-bar-chart-fill"></i>
                  <p>
                    Administracion y Finanzas
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:administrador_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Administrador </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:gasto_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Gastos </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:factura_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Facturas </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:pagos_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Pagos </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:caja_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Caja </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:nomina_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Nomina </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:pago_servicios_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Servicios publicos </p>
                    </a>
                  </li> 
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-bar-chart-fill"></i>
                  <p>
                    Gestion de Clientes
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:proveedor_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Proveedores </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:cliente_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Clientes </p>
                    </a>
                  </li> 
                </ul>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:compra_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Compras </p>
                    </a>
                  </li> 
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-bar-chart-fill"></i>
                  <p>
                    Recursos Humanos
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% url 'apy:empleado_lista' %}" class="nav-link">
                      <i class="nav-icon bi-file-earmark"></i>
                      <p>Empleados </p>
                    </a>
                  </li> 
                </ul>
              </li>
              <li class="nav-item">
                <a href="{% url 'apy:main' %}" class="nav-link">
                  <i class="nav-icon bi bi-bar-chart-fill"></i>
                  <p>
                    Configuraciones
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
              </li>
            </ul>
            <!--end::Sidebar Menu-->
          </nav>
        </div>
        <!--end::Sidebar Wrapper-->
      </aside>